{
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": 0,
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "consistent-return": 0,
    "key-spacing": [2, { "beforeColon": false, "afterColon": true, "mode": "minimum" }],
    "import/no-extraneous-dependencies":  0,
    "max-len": [2, { "code": 80 }],
    "no-multi-spaces": [2, {
      "exceptions": {
        "AssignmentExpression": true,
        "AssignmentPattern": true,
        "CallExpression": true,
        "VariableDeclarator": true
      }
    }],
    "no-param-reassign": 0,
    "no-use-before-define": 0,
    "prefer-destructuring": 0,
    "prefer-promise-reject-errors": 0,
    "prefer-template": 0,
    "semi": [2, "always", { "omitLastInOneLineBlock": true }],
    "spaced-comment": [2, "always", {
      "line": {
        "markers": ["*package", "!", ",", "noinspection", "region", "endregion"]
      },
      "block": {
        "balanced": true,
        "markers": ["*package", "!", ","],
        "exceptions": ["*"]
      }
    }],
    "strict": 0
  }
}
